<meta charset="UTF-8">
<title>{{title}}</title>
<meta name="keywords" content="Квест по станциям">
<script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.138.0/build/three.module.js"
            }
        }
</script>
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">