<!DOCTYPE html>
<head>
  {{>head}}
  <script src="https://unpkg.com/three@0.126.0/build/three.js"></script>
  <script src="libs/artoolkit.min.js"></script>
  <script src="libs/artoolkit.api.js"></script>
  <script src="libs/threex-artoolkitsource.js"></script>
  <script src="libs/threex-artoolkitcontext.js"></script>
  <script src="libs/threex-arbasecontrols.js"></script>
  <script src="libs/threex-armarkercontrols.js"></script>
  <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>
</head>
<body>
<model-viewer id="animation_piece" autoplay auto-rotate ar ar-modes="webxr" ar-scale="auto" shadow-intensity="1" alt="Animation"></model-viewer>
<script>
  var scene, camera, renderer, clock, deltaTime, totalTime;
  var arToolkitSource, arToolkitContext;

  const getMarkers = async () => {
    return await fetch(`/marker`, { method: 'GET' }).then((response) => response.json());
  };

  const changeScore = async (user_id, score) => {
    await fetch(`/user/${user_id}?score=${score}`, {
      method: 'PUT',
      headers: {
        accept: '*/*'
      },
    });
  };

  const getAnimations = async () => {
    return await fetch(`/animation`, { method: 'GET' }).then((response) => response.json());
  };

  function setAnimation() {
    navigator.geolocation.getCurrentPosition(async function(location) {
      const data = (await getAnimations()).slice();
      for (const item of data) {
        let latitude = item.position.split(' ')[0];
        let longitude = item.position.split(' ')[1];
        if (location.coords.latitude <= (Number(latitude) + 0.0001) && location.coords.latitude >= (Number(latitude) - 0.0001)
          && location.coords.longitude >= (Number(longitude) - 0.0001) && location.coords.longitude <= (Number(longitude) + 0.0001)) {
            const viewer = document.getElementById('animation_piece');
            viewer.src = `data/${item.animation}.glb`;
            let start_time = sessionStorage.getItem('start_time');
            let user_code = sessionStorage.getItem('user_code');
            let total_score = sessionStorage.getItem('total_score');
            let current_time = Date.parse(new Date());
            let minutes = (current_time - Number(start_time)) / 60000;
            await changeScore(user_code, String(Number(minutes.toFixed(2)) + Number(total_score)));
        }
      }
    });
      setTimeout(setAnimation, 1000);
  }

  async function initialize() {
    scene = new THREE.Scene();

    let ambientLight = new THREE.AmbientLight(0xcccccc, 0.5);
    scene.add(ambientLight);

    camera = new THREE.Camera();
    scene.add(camera);

    renderer = new THREE.WebGLRenderer({
      antialias: true,
      alpha: true
    });
    renderer.setClearColor(new THREE.Color('lightgrey'), 0)
    renderer.setSize(640, 480);
    renderer.domElement.style.position = 'absolute'
    renderer.domElement.style.top = '0px'
    renderer.domElement.style.left = '0px'
    document.body.appendChild(renderer.domElement);

    clock = new THREE.Clock();
    deltaTime = 0;
    totalTime = 0;

    arToolkitSource = new THREEx.ArToolkitSource({
      sourceType: 'webcam',
    });

    function onResize() {
      arToolkitSource.onResize()
      arToolkitSource.copySizeTo(renderer.domElement)
      if (arToolkitContext.arController !== null) {
        arToolkitSource.copySizeTo(arToolkitContext.arController.canvas)
      }
    }

    arToolkitSource.init(function onReady() {
      onResize()
    });

    window.addEventListener('resize', function() {
      onResize()
    });

    arToolkitContext = new THREEx.ArToolkitContext({
      cameraParametersUrl: 'libs/camera_para.dat',
      detectionMode: 'mono'
    });

    arToolkitContext.init(function onCompleted() {
      camera.projectionMatrix.copy(arToolkitContext.getProjectionMatrix());
    });

    const data = (await getMarkers()).slice();
    var markerRoots = [];
    var i = 0;

    for (const item of data) {
      markerRoots[i] = new THREE.Group();

      let markerControls = new THREEx.ArMarkerControls(arToolkitContext, markerRoots[i], {
        type: 'pattern', patternUrl: `data/${item.image}.patt`,
      })

      markerControls.addEventListener('markerFound', async () => {
        let start_time = sessionStorage.getItem('start_time');
        let user_code = sessionStorage.getItem('user_code');
        let total_score = sessionStorage.getItem('total_score');
        let current_time = Date.parse(new Date());
        let minutes = (current_time - Number(start_time)) / 60000;
        await changeScore(user_code, String(Number(minutes.toFixed(2)) + Number(total_score)));
      });

      const canvas = document.createElement('canvas')
      const context = canvas.getContext('2d')
      context.fillStyle = 'black'
      context.font = '10px sans-serif'
      context.fillText(`${item.text}`, 90, 90)
      const texture = new THREE.Texture(canvas)
      texture.needsUpdate = true
      var material = new THREE.MeshBasicMaterial({
        map: texture,
        side: THREE.DoubleSide,
      })
      material.transparent = true
      var mesh = new THREE.Mesh(new THREE.PlaneGeometry(3, 3), material)
      mesh.name = 'text'
      mesh.rotation.x = -Math.PI / 2;
      markerRoots[i].add(mesh)

      scene.add(markerRoots[i]);
      i++;
    }
  }

  function update()
  {
    if ( arToolkitSource.ready !== false )
      arToolkitContext.update( arToolkitSource.domElement );
  }

  function render()
  {
    renderer.render( scene, camera );
  }

  function animate()
  {
    requestAnimationFrame(animate);
    deltaTime = clock.getDelta();
    totalTime += deltaTime;
    update();
    render();
  }

  setAnimation();
  initialize();
  animate();
</script>
</body>
</html>