<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
</head>
<body>
<main>
  <div class="edit">
    <div class="edit_section">
      <p class="edit_header">Маркеры</p>
      <div id="edit_markers">
        <template id="markers_template">
          <div class="edit_piece">
            <div class="params">
              <div class="param">
                <p id="edit_image">image1.jpeg</p>
                <input id="edit_input_img" type="text" value="" placeholder="Изображение">
                <button id="edit_btn_img">изменить</button>
              </div>
              <div class="param">
                <p id="edit_text">Текст, соответсвующий изображению</p>
                <input id="edit_input_text" type="text" value="" placeholder="Текст">
                <button id="edit_btn_text">изменить</button>
              </div>
            </div>
            <button id="edit_delete_btn">удалить</button>
          </div>
        </template>
      </div>
      <div>
        <button id="edit_delete_all_btn">Удалить все</button>
        <button id="edit_add_btn">Добавить</button>
      </div>
    </div>

    <div class="edit_section">
      <p class="edit_header">Анимации</p>
      <div id="edit_animations">
        <template id="animations_template">
          <div class="edit_piece">
            <div class="params">
              <div class="param">
                <p id="edit_animation">anim1.glb</p>
                <input id="edit_input_anim" type="text" value="" placeholder="Анимация">
                <button id="edit_btn_anim">изменить</button>
              </div>
              <div class="param">
                <p id="edit_position">позиция</p>
                <input id="edit_input_pos" type="text" value="" placeholder="Позиция">
                <button id="edit_btn_pos">изменить</button>
              </div>
            </div>
            <button id="edit_delete_btn_anim">удалить</button>
          </div>
        </template>
      </div>
      <div>
        <button id="edit_delete_all_btn_anim">Удалить все</button>
        <button id="edit_add_btn_anim">Добавить</button>
      </div>
    </div>

    <a class="watch_results_btn" href="/results">Посмотреть результаты</a>
  </div>
  <script type="module" src="scripts/markers.js"></script>
  <script type="module" src="scripts/animations.js"></script>
</main>
</body>
</html>