<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
  <script type="module" src="scripts/activate.js"></script>
</head>
<body>
<main>
  <div id="main_page">
    <p class="main_text">Введите название команды</p>
    <input id="input" type="text" value="" placeholder="Введите название">
    <button id="start_btn">Начать</button>
  </div>
</main>
</body>
</html>