<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
</head>
<body>
<main>
<p id="current_position"></p>
  <a href="/edit">Вернуться на страницу редактирования</a>
  <script>
    function getPosition() {
      navigator.geolocation.getCurrentPosition(async function(location) {
        const current_position = document.getElementById("current_position");
        current_position.textContent = `${location.coords.latitude} ${location.coords.longitude}`;
      });
      setTimeout(setAnimation, 1000);
    }
    getPosition();
  </script>
</main>
</body>
</html>