<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
</head>
<body>
<main>
  <div class="result_page">
    <p class="edit_header">Результаты участников</p>
    <section class="table_results">
      <table>
        <thead>
        <tr>
          <th>Название команды</th>
          <th>Результат</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Романтичные тюлени</td>
          <td>4</td>
          <td><button class="delete_one_result_btn">удалить</button></td>
        </tr>
        <tr>
          <td>Загадочная вишня</td>
          <td>3</td>
          <td><button class="delete_one_result_btn">удалить</button></td>
        </tr>
        <tr>
          <td>Дирижерская палочка</td>
          <td>6</td>
          <td><button class="delete_one_result_btn">удалить</button></td>
        </tr>
      </table>
    </section>
    <button id="results_delete_btn">Удалить все</button>
  </div>
</main>
</body>
</html>