<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
</head>
<body>
<main>
  <div class="edit">
  <div class="result_page">
    <p class="edit_header">Результаты участников</p>
    <section class="table_results">
      <table>
        <thead>
        <tr>
          <th>Название команды</th>
          <th>Результат</th>
          <th></th>
        </tr>
        </thead>
        <tbody id="results">
        </tbody>
      </table>
    </section>
    <p id="text_when_no_teams"></p>
    <button id="results_delete_btn">Удалить все</button>
  </div>
  <a class="watch_results_btn" href="/edit">Вернуться к редактированию</a>
</div>
  <script type="module" src="scripts/results.js"></script>
</main>
</body>
</html>